body{
    position: relative;
    width: 1800px;
    font-family: 'SF Pro Display';
}
.head-nav{
    background: black;
}
.navbar{
    color: aliceblue;
    margin-left: 290px;
    padding-top: 10px;
    padding-bottom: 10px;
}
head{
    background: black;
}
.navbar img{
    padding-right: 42px;
}
.navbar a{
    padding-right: 42px;
    text-transform: uppercase;
    color: aliceblue;
}
.iphone14{
    background: white;
    margin-top: 70px;
    width: 1800px;
    text-align: center;
}
.iphone14 h1{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
}
.iphone14 h2{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 31px;
}
.home-div{
    justify-content: center;
    display: flex;
    gap: 50px;
    color: #0066CC;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 29px;
    margin-bottom: 30px;
}
.iphone14-2{
    margin-top: 70px;
    width: 1800px;
    text-align: center;
    background: black;
}
.home-div-2{
    color: aliceblue;
    padding-top: 50px;
}
.home-div-2 h1{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
}
.home-div-2 h2{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 31px;
}
.watch{
    text-align: center;
    margin-top: 70px;
}
.watch h1{
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
}
.applelogo{
    width: 60px;
    height: 40px;
}
.watch h4{
    color: orange;
}
.airpods{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.airpods-div{
    position: relative;
    bottom: 580px;
    color: white;
    text-align: center;
}
.airpods-div h2{
    font-size: 35px;
}
.airpods h3{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 26px;
}
.applelogo-1{
    height: 25px;
}
.airpods h4{
    color: red;
}
.watch-2{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.watch-div{
    position: relative;
    bottom: 600px;
}
.watch-div h3{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 26px;
}
.watch-end{
    position: relative;
    bottom: 280px;
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    color: #86868B;
}
.end-section{
    margin-left: 280px;
}
hr{
    width: 1100px;
    margin-right: 500px;
}
.iphone-last{
    display: flex;
    gap: 100px;
}
.end-div h2{
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
}
.end-div h3{
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #424245;
}
footer{
    margin-left: 280px;
}
.foot{
    display: flex;
    gap: 60px
    ;
}